$font-family: 'Segoe UI', Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Heading';
  src: url(~fonts/PatuaOne-Regular.ttf) format('truetype');
  font-weight: 400;
}

body {
  font-family: $font-family;
  font-size: calc(12px + .35vw);
}

h2 {
  background: url(~images/Octicons-mark-github.svg) center left / 28px no-repeat;
  font-family: 'Heading';
  padding-left: 35px
}

nav {
  > a {
    display: inline-block;
    text-decoration: none;
  }

  > a + a {
    margin-left: 15px;
  }
}